.header {
    z-index: 3;
    display: flex;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    backdrop-filter: blur(8px);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    width: 95%;
    border-radius: 25px;
    padding: 7px 12px;
}

.logo {
    width: 15rem;
    height: 4rem;
}

.header-menu {
    list-style: none;
    display: flex;
    gap: 3rem;
    color: white;
    font-size: 20px;
}

.header-menu>li:hover {
    cursor: pointer;
    color: var(--orange);
}