.header {
  z-index: 3;
  display: flex;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  backdrop-filter: blur(8px);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  width: 95%;
  border-radius: 25px;
  padding: 7px 20px;
  max-width: 1340px;
}

.logo {
  width: 15rem;
  height: 4rem;
}

.header-menu {
  list-style: none;
  display: flex;
  gap: 3rem;
  color: white;
  font-size: 20px;
}

.header-menu > li:hover {
  cursor: pointer;
  color: var(--orange);
}

@media screen and (max-width: 768px) {
  .header-menu {
    flex-direction: column;
    padding: 2rem;
  }

  .header {
    background-color: transparent !important;
    backdrop-filter: none !important;
    box-shadow: none !important;
  }

  .header-menu {
    backdrop-filter: blur(8px);
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 1rem;
  }
}
